<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if contentSnippet}}
    <meta name="description" content="{{contentSnippet}}"/>
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{contentSnippet}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{contentSnippet}}">
  {{else}}
    <meta name="description" content="A tech blog coverring web development"/>
    <meta property="og:title" content="Rob's Blog">
    <meta property="og:description" content="A tech blog coverring web development">
    <meta name="twitter:title" content="Rob's Blog">
    <meta name="twitter:description" content="A tech blog coverring web development">
  {{/if}}
  <link rel="stylesheet" href="/style.css">
  <!-- Generated links -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=E6j2k5d9nb">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=E6j2k5d9nb">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=E6j2k5d9nb">
  <link rel="manifest" href="/manifest.json?v=E6j2k5d9nb">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=E6j2k5d9nb" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=E6j2k5d9nb">
  <meta name="theme-color" content="#ffffff">
  <!-- /Generated links -->
  <title>{{#if title}}{{title}}{{else}}Rob&apos;s Blog{{/if}}</title>
</head>
<body>
  <div class="content">{{{ body }}}</div>
  <footer>Rob Calcroft &#8226; <a href="https://calcroft.com">calcroft.com</a></footer>
</body>
</html>
